<<<<<<< HEAD
<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus vero deserunt id, 
            expedita eveniet reprehenderit dolorem numquam? Sit odit ex, alias, voluptates saepe id 
            velit, ea fuga deleniti dicta libero pariatur! Et molestias sit fugiat ea dicta sapiente 
            tempore deserunt?
    </p>
    </div>
=======
<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus vero deserunt id, 
            expedita eveniet reprehenderit dolorem numquam? Sit odit ex, alias, voluptates saepe id 
            velit, ea fuga deleniti dicta libero pariatur! Et molestias sit fugiat ea dicta sapiente 
            tempore deserunt?
    </p>
    </div>
>>>>>>> a069c98f061d9d34e361bcc13a2b4c6a7b359b72
</div>