<div class="jumbotron mt-4">
    <h1 class="display-4">note app nodejs and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam iste dolores ullam impedit? 
    Quod minima delectus ad saepe. Asperiores porro dolorum nesciunt assumenda temporibus! Labore 
    aperiam delectus veritatis fuga nobis!</p>
    <a href="about" class="btn btn-primary btn-lg"> - About - </a>
</div>